<table id="front">
<tr>
  <td id="main">
    <h1>What's new?</h1>
    <%= render 'shared/micropost_form' %>
    <%= render 'shared/feed' %>
  </td>
  <td id="sidebar">
    <p class="round">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </p>
  </td>
</tr>
</table>
