<% @user ||= current_user %>
<a id="following" href="<%= following_user_path(@user) %>"><%= @user.following.count %> following</a><br/>
<a id="followers" href="<%= followers_user_path(@user) %>"><%= pluralize(@user.followers.count, 'follower') %></a><br/>
