<!DOCTYPE html>
<html lang="en">

<head>
<title>Sample App :: Contact</title>
</head>

<body>
<h1>Contact</h1>
<p>Contact the Rails Tutorial about the sample application at the
<a href="http://railstutorial.org/feedback">Feedback page</a>.</p>
</body>

</html>
